<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>BIT793_TMA3_4210211</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginCheck_dm</servlet-name>
    <servlet-class>StatcoverServlets.LoginCheck_dm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck_dm</servlet-name>
    <url-pattern>/StatcoverServlets.LoginCheck_dm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCheck_admin</servlet-name>
    <servlet-class>StatcoverServlets.LoginCheck_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck_admin</servlet-name>
    <url-pattern>/StatcoverServlets.LoginCheck_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCheck_staff</servlet-name>
    <servlet-class>StatcoverServlets.LoginCheck_staff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck_staff</servlet-name>
    <url-pattern>/StatcoverServlets.LoginCheck_staff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dm_Insert</servlet-name>
    <servlet-class>StatcoverServlets.Dm_Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dm_Insert</servlet-name>
    <url-pattern>/StatcoverServlets.Dm_Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dm_Edit</servlet-name>
    <servlet-class>StatcoverServlets.Dm_Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dm_Edit</servlet-name>
    <url-pattern>/StatcoverServlets.Dm_Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dm_Delete</servlet-name>
    <servlet-class>StatcoverServlets.Dm_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dm_Delete</servlet-name>
    <url-pattern>/StatcoverServlets.Dm_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Staff_Insert</servlet-name>
    <servlet-class>StatcoverServlets.Staff_Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Staff_Insert</servlet-name>
    <url-pattern>/StatcoverServlets.Staff_Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Staff_Edit</servlet-name>
    <servlet-class>StatcoverServlets.Staff_Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Staff_Edit</servlet-name>
    <url-pattern>/StatcoverServlets.Staff_Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Staff_Delete</servlet-name>
    <servlet-class>StatcoverServlets.Staff_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Staff_Delete</servlet-name>
    <url-pattern>/StatcoverServlets.Staff_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Request_Insert</servlet-name>
    <servlet-class>StatcoverServlets.Request_Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request_Insert</servlet-name>
    <url-pattern>/StatcoverServlets.Request_Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Availability_Insert</servlet-name>
    <servlet-class>StatcoverServlets.Availability_Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Availability_Insert</servlet-name>
    <url-pattern>/StatcoverServlets.Availability_Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration_Insert</servlet-name>
    <servlet-class>StatcoverServlets.Registration_Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration_Insert</servlet-name>
    <url-pattern>/StatcoverServlets.Registration_Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration_Delete</servlet-name>
    <servlet-class>StatcoverServlets.Registration_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration_Delete</servlet-name>
    <url-pattern>/StatcoverServlets.Registration_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterNew_Staff</servlet-name>
    <servlet-class>StatcoverServlets.RegisterNew_Staff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterNew_Staff</servlet-name>
    <url-pattern>/StatcoverServlets.RegisterNew_Staff</url-pattern>
  </servlet-mapping>
</web-app>